<ion-header>
  <ion-toolbar color="tertiary" class="ion-text-center">
    <ion-title> Loja APP - Produtos</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
<ion-grid>
  <ion-row class="ion-justify-content-start">
    <ion-col size-md="6" offset-md="3">
      
        <ion-card *ngFor="let prod of produtos">
          <ion-card-header>
            <ion-card-subtitle>{{prod.tipo}}</ion-card-subtitle>
            <ion-card-title>{{prod.nome}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img class="prod" [src]="prod.imagem"></ion-img>
            <ion-label>{{prod.descricao}}</ion-label>
            <ion-button expand="block" fill="solid" (click)="comprar(prod)">COMPRAR</ion-button>
          </ion-card-content>
        </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>