<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="construct-outline"></ion-icon>
    <ion-title>
      Em contrução...
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-icon name="construct-outline"></ion-icon>
      <ion-title size="large">Em contrução...</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
